@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor";
}
@section banner
{
    <h1> Forms and Razor Samples</h1>
}
<p>This is my first content. I will call it Home</p>

@section footer{
    &copy; CPSC1517 Nait 2019, all rights reserved
    }


