<connectionStrings>
  <add name="NWDB"
       connectionString="Data Source=.; Initial Catalog =Northwind_CPSC1517;
       Integrated Security=true"
       providerName ="System.Data.SqlClient " />

<!--use this database for hometime operations-->
  <!--<add name="NWDB"
      connectionString="Data Source=XXXX/SQLEXPRESS; Initial Catalog =Northwind_CPSC1517;
       Integrated Security=true"
      providerName ="System.Data.SqlClient " />-->
</connectionStrings>